{% comment %}
Title: Critical Button
Example: <a href="https://www.google.com/" class="btn btn-critical">Critical Button</a>
{% endcomment %}


<a href="#" class="btn btn-critical">Critical Button</a>