# Application files
error_log

# Misc
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.sql
*.sql.gz

# OS or Editor folders
.DS_Store
__MACOSX
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools

# Folders to ignore
bower_components
node_modules
/vendor

# Jekyll Folders to ignore
_site
_import
_import_backup
.jekyll-metadata
