.expandable {
  border: $base-border;

  .expandables & {
    border-bottom: 0;
    border-radius: 0;
    margin-bottom: 0;

    &:first-of-type {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    &:last-of-type {
      border-bottom: $base-border;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }
  }

  .title {
    background-color: $color-gray-light;
    color: $action-color;

    &:hover {
      background-color: $color-white;
    }
  }

  &.is-active .title {
    background-color: $color-white;
    color: $color-navy;
  }
}
