.background {
  background-color: $color-white;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px (-$body-gutter);
  padding: 50px 0;
  position: relative;

  @media (min-width: $lap-start) {
    body:not(.page-template-page-sidebar) & {
      left: 50%;
      margin: 65px -50vw;
      padding: 65px 0;
      right: 50%;
      width: 100vw;
    }
  }

  &[style^='color'] > .wrapper > * {
    color: inherit;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .wrapper {
     > :first-child,
     > .subnav-item:first-child > :first-child {
      margin-top: 0;
    }

     > :last-child {
      margin-bottom: 0;
    }
  }

  .column {
     > h1:first-child,
     > h2:first-child,
     > h3:first-child,
     > h4:first-child,
     > h5:first-child,
     > h6:first-child {
      margin-top: 0;
    }

     > img,
     > svg {
      display: block;
      margin: 0 auto $base-spacing;
    }
  }
}
