.cards {
  display: block;
  margin: $base-spacing 0;

  @media (min-width: $lap-start) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.card {
  background-color: $color-white;
  border: $base-border;
  cursor: pointer;
  display: block;
  margin: $base-spacing 0;
  padding: 20px;
  position: relative;
  width: 100%;

  // Lap+ ⬇
  @media (min-width: $lap-start) {
    max-width: 350px;

    .columns-one-third .column:first-child &,
    .columns-two-third .column:last-child &,
    .columns-one-fourth .column & {
      max-width: none;

      &:first-child {
        margin: 0 0 $base-spacing 0;
      }
    }
  }

  .cards & {
    margin: 0 0 $small-spacing;

    @media (min-width: $lap-start) {
      flex-basis: calc(50% - 7.5px);
      margin: 0 0 $small-spacing;
      max-width: calc(50% - 7.5px);
      width: calc(50% - 7.5px);
    }
  }

  @media (min-width: $lap-start) {
    .cards.count-3 & {
      flex-basis: calc(33.3334% - 10px);
      margin: 0 0 $small-spacing;
      max-width: calc(33.3334% - 10px);
      width: calc(33.3334% - 10px);
    }
  }

  @media (min-width: $desk-start) {
    .cards.count-4 & {
      flex-basis: calc(25% - 10px);
      margin: 0 0 $small-spacing;
      max-width: calc(25% - 10px);
      width: calc(25% - 10px);
    }
  }

  @media (min-width: $lap-start) and (max-width: $desk-start - 1px) {
    .cards &.type-expert,
    &.type-expert {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;

      &::after {
        clear: both;
        content: '';
        display: table;
      }

      .image {
        float: left;
        margin: 0 $base-spacing 0 0;
        width: calc(50% - #{$base-spacing});
      }

      .card-content {
        float: right;
        width: 50%;
      }

      .title {
        text-align: left;
      }
    }
  }

  .image {
    display: block;
    width: 100%;

    & + .card-content .title {
      margin-top: $small-spacing;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;

    em {
      display: block;
      font-size: 16px;
      font-style: normal;
      text-transform: uppercase;
    }

    // Lap+ ⬇
    @media (min-width: $lap-start) {
      font-size: 26px;

      em {
        font-size: 20px;
      }
    }

    // Desk+ ⬇
    @media (min-width: $desk-start) {
      font-size: 27px;

      em {
        font-size: 20px;
      }
    }
  }

  &.type-expert .title {
    border-bottom: $base-border;
    font-weight: 800;
    margin-bottom: $small-spacing;
    padding-bottom: $small-spacing;
    text-align: center;

    em {
      font-weight: 300;
    }
  }

  .content {
    color: $base-font-color;
    font-size: 14px;
    margin-top: $small-spacing;

    :last-child {
      margin-bottom: 0;
    }
  }

  .btn-tertiary {
    color: $action-color;
    display: block;
    margin-top: $small-spacing;

    &::after {
      border-color: $action-color;
    }
  }
}

a.card:hover,
a.card:focus,
a.card:active {
  border-color: $color-blue-dark;
  box-shadow: inset 0 0 0 1px $color-blue-dark, 0 10px 15px 4px rgba($color-black, .1);

  .title {
    color: $color-blue-dark;
  }

  .btn-tertiary {
    color: $action-focus-color;

    &::after {
      border-color: $action-focus-color;
    }
  }
}
