.subnav-item {
  h2 {
    background-color: $color-white;
    border-left: 10px solid $color-yellow;
    box-shadow: 0 4px 20px 0 rgba($color-black, .12);
    margin: 40px 0;
    padding: 25px;
  }
}
