.checklist {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  justify-content: center;
  margin: 50px 0 $base-spacing;
  padding: 0;
  text-align: center;
  width: 100%;

  .no-flexbox & {
    display: table;
  }

  h4 {
    font-size: 14px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  li {
    background-color: $color-white;
    border: $base-border;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 45px $base-spacing 50px;
    position: relative;

    &::before {
      background: $color-white url('/assets/img/icon-checkmark.svg') no-repeat center center;
      border: $base-border;
      border-radius: 50%;
      content: '';
      display: block;
      height: 50px;
      left: 50%;
      line-height: 40px;
      position: absolute;
      text-align: center;
      top: 0;
      transform: translate(-50%, -50%);
      width: 50px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  // Mobile ⬇
  @media (max-width: $lap-start - 1px) {
    h4 {
      font-size: 15px;
    }

    li {
      border-bottom: 0;
      flex-basis: 100%;
      max-width: 100%;
      padding-bottom: 35px;

      &:first-of-type {
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:last-of-type {
        border-bottom: $base-border;
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  // Laptop ⬇
  @media (min-width: $lap-start) and (max-width: $desk-start - 1px) {
    li {
      flex-basis: 50%;
      max-width: 50%;
      padding-bottom: 35px;
      width: 50%;

      &:first-of-type {
        border-bottom-left-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }

      &:last-of-type {
        border-bottom-right-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:nth-child(2n+2) {
        border-bottom-right-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:nth-child(2n+3) {
        border-bottom-left-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }

      &:nth-child(n+3) {
        border-top: 0;
      }

      &:not(:nth-child(2n)):not(:last-child) {
        border-right: 0;
      }
    }
  }

  // Desktop+ ⬇
  @media (min-width: $desk-start) {
    li {
      flex-basis: 33.3334%;
      max-width: 33.3334%;
      width: 33.334%;

      &:first-of-type {
        border-bottom-left-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }

      &:last-of-type {
        border-bottom-right-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:nth-child(3n+3) {
        border-bottom-right-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      &:nth-child(3n+4) {
        border-bottom-left-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
      }

      &:nth-child(n+4) {
        border-top: 0;
      }

      &:nth-child(3n+1):not(:last-child),
      &:nth-child(3n+2):not(:last-child) {
        border-right: 0;
      }

      &:nth-child(4):last-child {
        flex-basis: calc(33.3334% + 1px);
        margin-right: -1px;
      }

      &:first-child:nth-last-child(1n+7),
      &:first-child:nth-last-child(1n+7) ~ li {
        border: $base-border;
        border-bottom: 0;
        border-radius: 0;
        flex-basis: 100%;
        margin: 0;
        max-width: 100%;
        padding: 30px 30px 30px 50px;
        text-align: left;
        width: 100%;

        &::before {
          left: 0;
          top: 50%;
        }

        &:first-child {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child {
          border-bottom: $base-border;
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
        }
      }
    }
  }
}
