[data-highcharts-chart] {
  clear: both;
  margin: 30px 0;
  padding: 35px 50px;
  position: relative;
}

.highcharts-text-outline {
  stroke: none;
}

.highcharts-background {
    fill: transparent;
}