.nav-breadcrumbs {
  background-color: $color-teal-light;
  color: $color-gray;
  display: none;
  font-size: 11px;
  font-weight: 300;
  padding: $small-spacing 0;

  [typeof="v:Breadcrumb"] {
    margin: 0;

    > :first-child {
      margin-left: 0;
    }

    > :last-child {
      margin-right: 0;
    }

    a,
    span {
      margin: 0 5px;
    }
  }

  // Laptop+ ⬇
  @media (min-width: $lap-start) {
    display: block;
  }

  // Desk+ ⬇
  @media (min-width: $desk-start) {
    font-size: 13px;
  }
}
