#{$all-buttons},
button,
.btn {
  @include font-smooth;

  appearance: none;
  background-color: $color-blue;
  border: 0;
  border-radius: $base-border-radius;
  box-shadow: 0 3px 0 0 $color-blue-dark;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  min-width: 190px;
  padding: 21px $base-spacing;
  text-align: center;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    background-color: $color-blue-light;
    color: $color-white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

// Secondary Button
.btn-secondary {
  background-color: transparent;
  border: 2px solid $color-white;
  box-shadow: none;
  color: $color-white;

  &:active,
  &:hover,
  &:focus {
    background-color: $color-white;
    border-color: transparent;
    color: $color-blue;
  }
}

// Critical Button
.btn-critical {
  background-color: $color-red;
  box-shadow: 0 3px 0 0 $color-red-dark;

  &:active,
  &:hover,
  &:focus {
    background-color: $color-red-light;
  }
}

// Teriary Link
.btn-tertiary {
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;

  &::after {
    border-radius: 0;
    border-right: 2px solid $action-color;
    border-top: 2px solid $action-color;
    content: '';
    display: inline-block;
    height: 4px;
    margin-left: 10px;
    position: relative;
    top: -3px;
    transform: rotate(45deg);
    transition: border-color .1s ease-out;
    width: 4px;
  }

  &:active,
  &:hover,
  &:focus {
    border-color: $color-red;

    &::after {
      border-color: currentColor;
    }
  }
}

// Link
.btn-link {
  @include font-smooth;

  background-color: $color-blue-light;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
  border-top: $base-border;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 800;
  padding: 20px $small-spacing;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .2s ease-out;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-white;
    color: $color-blue;
  }

  @media (min-width: $lap-start) {
    font-size: 15px;
  }
}


// Button Bars - Navigation & Subnavigation
.btn-bars {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 0;
  min-width: initial;
  min-width: auto;
  outline: none;
  padding: 0;
  width: 18px;

  .bar {
    background: currentColor;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    transition: transform .25s;
    width: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    .is-active-mobile .nav-primary & {
      &:nth-of-type(1) {
        transform: translate(0px, 4px) rotate(-45deg);
      }

      &:nth-of-type(2) {
        transform: translate(0px, -4px) rotate(45deg);
      }

      &:nth-of-type(3) {
        display: none;
      }
    }
  }

  &:hover,
  &:active,
  &:focus {
    background: transparent;
  }
}
