body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 15px;
  font-weight: 300;
  line-height: $base-line-height;

  @media (min-width: $lap-start) {
    font-size: $base-font-size;
  }
}

b, strong {
  font-weight: 800;
}

.header-logo text {
  font-family: $heading-font-family;

  tspan:first-child {
    font-weight: 800;
    font-size: 23.8px;
  }
  
  tspan:last-child {
    font-weight: 400;
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-navy;
  font-family: $heading-font-family;
  font-weight: 800;
  margin: 35px 0 $base-spacing;
}

h1 {
  font-size: 40px;
  line-height: (45 / 40);

  @media (min-width: $lap-start) {
    margin-bottom: 35px;
    margin-top: 60px;
  }

  @media (min-width: $desk-start) {
    font-size: 48px;
    line-height: (55 / 48);
    margin-bottom: 45px;
  }
}

h2 {
  font-size: 25px;
  line-height: (32 / 25);

  @media (min-width: $lap-start) {
    font-size: 36px;
    line-height: (38 / 36);
    margin-top: 50px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 300;
  line-height: (26 / 22);

  @media (min-width: $lap-start) {
    font-size: 28px;
    line-height: (33 / 28);
    margin-top: 50px;
  }
}

h4 {
  font-size: 17px;
  line-height: (19 / 17);

  @media (min-width: $lap-start) {
    font-size: 18px;
    line-height: (22 / 18);
  }

  @media (min-width: $desk-start) {
    line-height: (26 / 18);
  }
}

h5 {
  font-size: 15px;
  line-height: (24 / 15);

  @media (min-width: $lap-start) {
    font-size: 16px;
    line-height: (24 / 16);
  }
}

h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: (24 / 15);
}

p,
.column {
  margin: 0 0 $base-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: $action-focus-color;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border: 0;
  border-bottom: $base-border;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;

  .column > & {
    display: block;
    margin: 0 auto $base-spacing;
  }
}
